/* line 1, ../sass/main.sass */
html {
  background: url(../img/bg_argyle.png) repeat scroll 0 0;
}

/* line 4, ../sass/main.sass */
body {
  background: none;
  color: black;
  font-family: "Helvetica Neue", Helvetica;
  width: 990px;
  padding: 0px 20px;
  margin: 0px auto;
  position: relative;
}
/* line 12, ../sass/main.sass */
body #about-link {
  position: absolute;
  top: -20px;
  right: 0px;
  cursor: pointer;
  z-index: 10000;
  color: white;
}

/* line 20, ../sass/main.sass */
div#header {
  background: url(../img/bg_plaid.png) repeat scroll 0 0 white;
  position: relative;
  display: none;
  border-left: 3px solid #999999;
  border-right: 3px solid #999999;
  border-bottom: 3px solid #999999;
  padding: 10px 20px;
}
/* line 28, ../sass/main.sass */
div#header p {
  margin: 10px 0;
  font-size: 14px;
}
/* line 31, ../sass/main.sass */
div#header a#collapse {
  position: absolute;
  bottom: 0;
  right: 10px;
  text-decoration: none;
  font-weight: bold;
}

/* line 38, ../sass/main.sass */
h1 {
  text-transform: uppercase;
  font-size: 32px;
  margin: 0;
  padding: 0;
}

/* line 44, ../sass/main.sass */
div#tags {
  margin-bottom: 20px;
}
/* line 46, ../sass/main.sass */
div#tags ul li {
  display: inline;
  float: left;
  list-style-type: none;
  margin-left: 15px;
}
/* line 51, ../sass/main.sass */
div#tags ul li:first-child {
  margin-left: 0px;
}
/* line 53, ../sass/main.sass */
div#tags a {
  background: none repeat scroll 0 0 #e3e3e3;
  border: 1px solid #bbbbbb;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 1px 1px #f6f6f6 inset;
  color: #333333;
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 10px;
  text-align: center;
  text-shadow: 0 1px 0 white;
  width: 150px;
  text-decoration: none;
}
/* line 65, ../sass/main.sass */
div#tags a:hover {
  background: none repeat scroll 0 0 #d9d9d9;
  box-shadow: 0 0 1px 1px #eaeaea inset;
  color: #222222;
  cursor: pointer;
}
/* line 70, ../sass/main.sass */
div#tags a:active {
  background: none repeat scroll 0 0 #d0d0d0;
  box-shadow: 0 0 1px 1px #e3e3e3 inset;
  color: black;
}

/* line 75, ../sass/main.sass */
div#container {
  margin-top: 10px;
  width: 1000px;
}
/* line 78, ../sass/main.sass */
div#container .item {
  min-width: 240px;
  margin: 0px 10px 10px 0px;
  float: left;
  position: relative;
  overflow: hidden;
}
/* line 84, ../sass/main.sass */
div#container .item p.label {
  position: absolute;
  display: none;
  bottom: 0px;
  margin: 0px;
  padding: 5px 0px 10px 10px;
  width: 230px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 93, ../sass/main.sass */
div#container .item p.label span {
  max-width: 205px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  text-shadow: 1px 2px 5px black;
  filter: dropshadow(color=black, offx=1, offy=2);
}
/* line 101, ../sass/main.sass */
div#container .item img {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
/* line 105, ../sass/main.sass */
div#container .item .metadata {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
/* line 115, ../sass/main.sass */
div#container .item .metadata p {
  color: black;
  font-family: "Helvetica";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 98%;
  margin: 0px;
  filter: dropshadow(color=white, offx=1, offy=2);
}
/* line 124, ../sass/main.sass */
div#container .item .metadata a.goFlickr {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  font-family: "Helvetica";
  font-weight: bold;
}

/* line 133, ../sass/main.sass */
.clear {
  clear: both;
}

/* line 136, ../sass/main.sass */
.isotope-item {
  z-index: 2;
}

/* line 139, ../sass/main.sass */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/*** Isotope CSS3 transitions *** */
/* line 145, ../sass/main.sass */
.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

/* line 153, ../sass/main.sass */
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

/* line 161, ../sass/main.sass */
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
}

/*** disabling Isotope CSS3 transitions *** */
/* line 171, ../sass/main.sass */
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
