
body {  
	background: url("img/bg_plaid.png") repeat scroll 0 0 transparent; 
	color: #000; 
	font-family: "Helvetica Neue", Helvetica;
	margin: 0px 0px 0px 20px;
}

div#header { 
	border-left: 3px solid #999; 
	border-bottom: 3px solid #999;
	padding: 0px 0px 10px 20px;
}

div#header p {
	margin: 10px 0;
	font-size: 14px;
}

h1 {
	text-transform: uppercase;
	font-size: 32px;
	margin: 0;
	padding: 0;
}

div#tags {
  margin-bottom: 20px;
}

div#tags ul li {
	display: inline;
	float: left; 
	list-style-type: none; 
	margin-left: 15px; 
}

div#tags ul li:first-child {
	margin-left: 0px;
}

div#tags ul li a {
    background: none repeat scroll 0 0 #E3E3E3;
    border: 1px solid #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 1px 1px #F6F6F6 inset;
    color: #333333;
    font: bold 12px/1 "helvetica neue",helvetica,arial,sans-serif;
    padding: 10px;
    text-align: center;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 150px;
    text-decoration: none;
}
div#tags ul li a:hover {
    background: none repeat scroll 0 0 #D9D9D9;
    box-shadow: 0 0 1px 1px #EAEAEA inset;
    color: #222222;
    cursor: pointer;
}
div#tags ul li a:active {
    background: none repeat scroll 0 0 #D0D0D0;
    box-shadow: 0 0 1px 1px #E3E3E3 inset;
    color: #000000;
}

div#container { 
	margin-top: 10px;
}

div#container .item {
	max-width: 240px;
	margin: 2px;
	float: left;
	text-align: center;
}

.item p.label {
	color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-top: -60px;
  margin-left: 25px;
  padding: 0;
  display: none;
  max-width: 205px;
  text-align: left;
  text-shadow: 1px 2px 5px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=2);

}

.clear { 
	clear: both;
}



/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}


